<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="gov-header">
    <h1>Urban Service Request System</h1>
</header>

<main class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="alert {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- IMPORTANT: action="/" NOT /login -->
    <form method="POST" action="/">
        <label>Citizen Name</label>
        <input type="text" name="name" required>

        <label>Mobile Number</label>
        <input type="text" name="mobile" maxlength="10" required>

        <button class="submit-btn" type="submit">Login</button>
    </form>

</main>

</body>
</html>